.top-nav{ width: 100%; background: #f7f7f7;
    .top-nav-wrap{ width: 1240px; margin: 0 auto; padding-top:0; padding-bottom: 0; height: 30px; line-height: 30px; color: #4a4a4a; font-size: 12px;
        .welcome-wrap{ float: left;color: #808080;
            .user-name{ color: #292929; margin-left: 5px;}
        }
        ul.right-menu{ float: right; color: #292929;
        	li{ float:left; padding: 0 12px; position: relative; z-index: 1;
        		.line{ position: absolute; right: 0; top: 11px; z-index: 2; background: #dfdfdf; height: 10px; width: 1px;}
        		.cart-num{display: block; position: static; top:0; right: 0; width: 13px; height: 13px; line-height: 13px; text-align: center; background: url(../images/circle.png) no-repeat; color: #fff; float: right; margin-top: 9px; margin-left: 3px;}
        	}
        }
    } 
}

.header{width: 1240px;margin: 13px auto;
	.logo-wrap{ width: 100%; overflow: hidden;
		.logo-inner{ width: 1240px; height: 100%; margin: 0 auto;
            .logo{display: block; width: 151px; height: 61px; float: left; background: url(../images/logo-pro.png) no-repeat; }
		  .shop-logo{ display: block; float: left; width:259px; height: 41px; margin-top: 12px; margin-left: 58px; background: url(../images/shop-logo.png) center center no-repeat;}
		  .level-wrap{ float: left; margin-top: 25px; margin-left: 45px;
            p{ color: #f43a00; float: left;}
            .star{ float: left;}
          }
          .shop-opt{ float: left;margin-left: 10px; margin-top: 25px; 
            a{ display: block; width: 50px; height: 21px; margin-bottom: 10px; }
            a.follow{ background: url(../images/follow.png) no-repeat;}
            a.store{ background: url(../images/store.png) no-repeat;}
          }
        }
	}
    .nav{ background: #123457; width: 100%; height: 40px; clear: both; margin-top: 15px;
        ul{ display: block; 
            li{ float: left; position: relative;
                a{ display: block; color:#FFF; font-size: 14px; font-weight: bold; line-height: 40px; padding: 0 46px; }
            }
        }
    }
}

.center{ width: 1240px;margin: 20px auto 50px;}

.title{ line-height: 40px; margin-top: 5px; font-weight: bold; font-size: 14px; }
.company-block{ clear: both; margin-bottom: 15px; overflow: hidden;
    .left{ float: left;}
    .right{ float: left;}
}
.intro1{
    .left{ width: 664px; height: 275px; padding: 55px 30px; color: #646464; font-size: 12px; line-height: 22px; border: 1px solid #e3e3e3;
        p{ text-indent: 2em;}
    }
    .right{ width:514px;}
}
.intro2{
    .left{ width: 557px; height: 308px;}
    .right{ width:620px; height:256px; padding: 25px 30px; color: #646464; font-size: 12px; line-height: 22px; border: 1px solid #e3e3e3;
        p{ text-indent: 2em;}
    }
}
.intro3{
    .left{ width: 890px; height: 228px; padding: 40px 36px; color: #646464; font-size: 12px; line-height: 22px; border: 1px solid #e3e3e3;
        p{ text-indent: 2em;}
    }
    .right{ width:276px; height:256px;}
}